body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 1em;
    word-break: break-word;
}

audio {
    max-width: 100%;
}

video {
    background: #222;
    margin: 0 0 20px 0;
}
video, #show, canvas{
    width: 375px;
    height: 200px;
}

#show ,canvas{
    /*overflow: hidden;*/
    border: 1px solid #222222;
    margin-top: 35px;
}

video:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 400px) {
    video {
        margin: 0 5px 20px 0;
        width: calc(20% - 5px);
    }
}


